@{
    ViewData["Title"] = "World";
}
@model Player 

<div class="text-center">
    <a asp-action="Index" asp-controller="Town">Town</a>
    <h1 class="display-4">Welcome To The Game</h1>
    <ul>
        <li>Name: @Model.PlayerName</li>
        <li>Gold: @Model.PlayerGold</li>
        <li>Level: @Model.Level</li>
        <li>Exp: @Model.Experience</li>
        <li>LP: @Model.CurrentLP / @Model.FullLP</li>

        <a asp-action="Inventory">Inventory</a>
    </ul>
</div>
