@{
    ViewData["Title"] = "Town Area";
}
@model PlayerTown
<script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script defer>
    var townData = @Html.Raw(Json.Serialize(Model));

    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/townHub")
        .build()

    function updateTownData(town) {
    }

    connection.on("ReceiveUpdateRessources", function (town) {
        updateTownData(town);
    });

    connection.start()
        .then(function () {
            setInterval(function () {
                connection.invoke("RequestUpdateRessources", townData);
            }, 10);
        })
        .catch(err => console.error(err));
</script>
<div class="container">
    <div class="text-center">
        <h1 class="display-4">
            Welcome to
            @if (Model.TownName is null)
            {
                @:Town
            }
            else
            {
                @Model.TownName
            }
        </h1>
        @if (Model.TownName is null)
        {
            <a asp-action="CreateNewTown">Create Town</a>
        }
        else
        {
            if (Model.Stage < 3)
            {
                <a asp-action="IncreaseTownStage">Increase Town Stage (test)</a>
            }


            <h3>Buildings in Town:</h3>
            @:<div class="building-container">
                @foreach (var buildingGroup in Model.TownBuildings.GroupBy(n => n.Building.BuildingName))
                {
                    @foreach (var dataset in buildingGroup)
                    {
                        @:<div class="building-card">
                            <img src=@dataset.Building.Icon title="@dataset.Building.BuildingName" />
                        var levelIcon = "/img/Numbers/Roman/r" + dataset.Level + ".png";
                            <p>
                                <img class="icon" src="@levelIcon" title="Level" />
                            </p>

                            bool buttonSwitchUpgrade = false;
                            foreach (var ressource in dataset.Building.RessourceCost)
                            {
                                if (ressource.Amount > (int)Math.Floor(Model.TownRessources.FirstOrDefault(i => i.RessourceID == ressource.RessourceID).Amount * 0.75)
                                && dataset.Level < 3)
                                {
                                    buttonSwitchUpgrade = false;
                                    break;
                                }
                                else
                                {
                                    buttonSwitchUpgrade = true;
                                }
                            }
                            if (buttonSwitchUpgrade)
                            {
                                <a asp-action="LevelUpBuilding" asp-route-id="@dataset.BuildingID"><img class="icon" src="~/img/Symbols/arrowUp.png" title="Level Up" /></a>
                            }
                            <a asp-action="RemoveBuilding" asp-route-id="@dataset.TownBuildingID"><img class="icon" src="~/img/Symbols/cross.png" title="Remove Building" /></a>
                            if (dataset.Workers < dataset.WorkersMax && Model.PopulationNotWorking > 0)
                            {
                                <a asp-action="AddWorkerToBuilding" asp-route-id="@dataset.TownBuildingID"><img class="icon" src="~/img/Symbols/workerPlus.png" title="Add Worker" /></a>
                            }
                            if (dataset.Workers > 0)
                            {
                                <a asp-action="SubWorkerFromBuilding" asp-route-id="@dataset.TownBuildingID"><img class="icon" src="~/img/Symbols/workerMinus.png" title="Sub Worker" /></a>
                            }

                            if (dataset.Population > 0)
                            {
                                @:Creates Population: <p>@dataset.Population.ToString("N0")</p>
                            }
                            if (dataset.Storage > 0)
                            {
                                @:Creates Storage: <p>@dataset.Storage.ToString("N0")</p>
                            }

                            @:Produces:

                            @:<p>
                                foreach (var productionRessource in dataset.Building.ProducingRessources)
                                {
                                    @: @productionRessource.ProduceInMinute.ToString("N0")
                                    <img src="@productionRessource.Ressource.Icon" title="@productionRessource.Ressource.RessourceName" />
                                }
                                foreach (var productionSoldier in dataset.Building.ProducingSoldiers)
                                {
                                    @: @productionSoldier.Soldier.SoldierName
                                }
                            @:</p>
                            @:Consumes:

                            if (dataset.Building.ConsumingRessources.Count > 0)
                            {
                                @:<p>
                                    foreach (var consumingRessources in dataset.Building.ConsumingRessources)
                                    {
                                        @: @consumingRessources.ConsumeInMinute.ToString("N0")
                                        <img src="@consumingRessources.Ressource.Icon" title="@consumingRessources.Ressource.RessourceName" />
                                    }
                                @:</p>
                            }
                            else
                            {
                                @:<p>nothing</p>
                            }
                            @:Upgrade Cost:
                            foreach (var ressourceCosts in dataset.Building.RessourceCost)
                            {
                                @:<p>@((int)Math.Floor(ressourceCosts.Amount * 0.75))</p>
                                <img src="@ressourceCosts.Ressource.Icon" title="@ressourceCosts.Ressource.RessourceName" />
                            }
                            @:Workers:
                            @:<p>@dataset.Workers.ToString("N0") / @dataset.WorkersMax.ToString("N0")</p>
                        @:</div>
                    }
                }
            @:</div>
            <h3>Buildings to build:</h3>
            @:<div class="building-container">
                @foreach (var dataset in ViewData["Buildings"] as IEnumerable<Building>)
                {
                    if ((dataset.AvailableInStage <= Model.Stage && dataset.LockedInStage == false) ||
                        dataset.AvailableInStage == Model.Stage && dataset.LockedInStage)
                    {
                        @:<div class="building-card">
                            @:<img src=@dataset.Icon title="@dataset.BuildingName" />
                            bool buttonSwitch = false;
                            @foreach (var ressource in dataset.RessourceCost)
                            {
                                if (ressource.Amount > Model.TownRessources.FirstOrDefault(i => i.RessourceID == ressource.RessourceID).Amount)
                                {
                                    buttonSwitch = false;
                                    break;
                                }
                                else
                                {
                                    buttonSwitch = true;
                                }
                            }
                            if (buttonSwitch)
                            {
                                <a asp-action="AddBuilding" asp-route-id="@dataset.BuildingID"><img class="icon" src="~/img/Symbols/plus.png" title="Build" /></a>
                            }

                            if (dataset.PopulationMaxTemplate > 0)
                            {
                                @:Creates Population: <p>@dataset.PopulationMaxTemplate.ToString("N0")</p>
                            }
                            if (dataset.StorageMaxTemplate > 0)
                            {
                                @:Creates Storage: <p>@dataset.StorageMaxTemplate.ToString("N0")</p>
                            }

                            @:Can Produce:
                            foreach (var productionRessource in dataset.ProducingRessources)
                            {
                                @:<p>@productionRessource.ProduceInMinute.ToString("N0")</p>
                                <img src="@productionRessource.Ressource.Icon" title="@productionRessource.Ressource.RessourceName" />

                            }
                            @:Will Consume:
                            if (dataset.ConsumingRessources.Count > 0)
                            {
                                foreach (var consumingRessources in dataset.ConsumingRessources)
                                {
                                    @:<p>@consumingRessources.ConsumeInMinute.ToString("N0")</p>
                                    <img src="@consumingRessources.Ressource.Icon" title="@consumingRessources.Ressource.RessourceName" />
                                }
                            }
                            else
                            {
                                @:<p>nothing</p>
                            }
                            @:Ressources needed to build:
                            foreach (var ressourceCosts in dataset.RessourceCost)
                            {
                                @:<p>@ressourceCosts.Amount.ToString("N0")</p>
                                <img src="@ressourceCosts.Ressource.Icon" title="@ressourceCosts.Ressource.RessourceName" />
                            }
                            @:Workplaces:
                            <p>@dataset.WorkersMaxTemplate.ToString("N0")</p>
                        @:</div>
                    }
                }
            @:</div>
        }
    </div>
</div>
