@{
    ViewData["Title"] = "Town Area";
}
@model Town

<div class="text-center">
    <h1 class="display-4">
        Welcome to
        @if (Model.TownName is null)
        {
            @:Town
        }
        else
        {
            @Model.TownName
        }
    </h1>
    @if (Model.TownName is null)
    {
        <a asp-action="CreateNewTown">Create Town</a>
    }
    else
    {
        <h4>Ressources:</h4>

        <table>
            <tr style="border:solid">
                @foreach (var dataset in Model.TownRessources)
                {
                    <td style="border:solid">@dataset.Ressource.RessourceName @dataset.Amount</td>

                }
            </tr>
        </table>

        <br />
        <h4>Buildings in Town:</h4>
        @foreach (var dataset in Model.TownBuildings.Where(a => a.Amount > 0))
        {
            @:------------------------------------------- <br />
            <h5>@dataset.Building.BuildingName @dataset.Amount </h5>
            <br />
            @:Produces:
            <br />
            foreach (var productionRessource in dataset.Building.ProducingRessources)
            {
                @:<p>@productionRessource.Amount @productionRessource.Ressource.RessourceName</p>
            }
            <br />
            @:Consumes:
            <br />
            if (dataset.Building.ConsumingRessources.Count > 0)
            {

                foreach (var consumingRessources in dataset.Building.ConsumingRessources)
                {
                    @:<p>@consumingRessources.Amount @consumingRessources.Ressource.RessourceName </p>
                }
            }
            else
            {
                @:<p>nothing</p>
            }
            <br />

        }

        <h4>Buildings in Game:</h4>
        @foreach (var dataset in Model.TownBuildings.Where(a => a.Amount == 0))
        {
            @:------------------------------------------- <br />
            @:<h5>@dataset.Building.BuildingName</h5>
            <br />
            @:Can Produce:
            <br />
            foreach (var productionRessource in dataset.Building.ProducingRessources)
            {
                @:<p>@productionRessource.Amount @productionRessource.Ressource.RessourceName</p>
            }
            <br />
            @:Will Consume:
            <br />
            if (dataset.Building.ConsumingRessources.Count > 0)
            {
                foreach (var consumingRessources in dataset.Building.ConsumingRessources)
                {
                    @:<p>@consumingRessources.Amount @consumingRessources.Ressource.RessourceName</p>
                }
            }
            else
            {
                @:<p>nothing</p>
            }
            <br />
            @:Ressources needed to build:
            <br />
            foreach (var ressourceCosts in dataset.Building.BuildingRessourcesCosts)
            {
                @:<p>@ressourceCosts.Amount @ressourceCosts.Ressource.RessourceName</p>
            }
            <br />
        }
    }
</div>
